# Pandas 기타 명령어 연습하기

## Library Import 및 Data 불러오기

In [4]:
import pandas as pd

In [5]:
df=pd.read_csv("EX_GrapeData.csv")
df.head()

   continent  brand  size  period price
0          2      2  10.7   47.65   144
1          2      3  14.0   63.13   215
2          2      2   9.0   58.76   105
3          1      1   8.0   34.88    69
4          2      2  10.0   55.53   134

## 대략적인 Data분포 확인하기

### info 함수 사용하기

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   continent  63 non-null     int64
 1   brand      63 non-null     int64
 2   size       63 non-null     float64
 3   period     63 non-null     float64
 4   price      63 non-null     object
dtypes: float64(2), int64(2), object(1)
memory usage: 2.6+ KB

### describe 사용하기

In [13]:
df.describe()

       continent      brand       size      period
count  63.000000  63.000000  63.000000   63.000000
mean    1.492063   1.888889  11.344444   35.035079
std     0.503953   0.785167   4.741334   18.874799
min     1.000000   1.000000   5.000000   12.000000
25%     1.000000   1.000000   8.250000   21.190000
50%     1.000000   2.000000  11.000000   30.200000
75%     2.000000   2.500000  13.250000   44.700000
max     2.000000   3.000000  31.000000  109.380000

In [21]:
df[['size']].head()

   size
0  10.7
1  14.0
2   9.0
3   8.0
4  10.0

### describe 결과를 dictinary로 저장하기

In [19]:
df.describe().to_dict()

{'continent': {'count': 63.0,
  'mean': 1.492063492063492,
  'std': 0.50395263067897,
  'min': 1.0,
  '25%': 1.0,
  '50%': 1.0,
  '75%': 2.0,
  'max': 2.0},
 'brand': {'count': 63.0,
  'mean': 1.8888888888888888,
  'std': 0.7851671511195134,
  'min': 1.0,
  '25%': 1.0,
  '50%': 2.0,
  '75%': 2.5,
  'max': 3.0},
 'size': {'count': 63.0,
  'mean': 11.344444444444445,
  'std': 4.741334294906587,
  'min': 5.0,
  '25%': 8.25,
  '50%': 11.0,
  '75%': 13.25,
  'max': 31.0},
 'period': {'count': 63.0,
  'mean': 35.03507936507937,
  'std': 18.87479945400966,
  'min': 12.0,
  '25%': 21.189999999999998,
  '50%': 30.2,
  '75%': 44.7,
  'max': 109.38}}

In [15]:
dict_df=df.describe().to_dict()

In [38]:
df_dict_all=pd.DataFrame(dict_df)
df_dict_all.head()

       continent      brand       size     period
count  63.000000  63.000000  63.000000  63.000000
mean    1.492063   1.888889  11.344444  35.035079
std     0.503953   0.785167   4.741334  18.874799
min     1.000000   1.000000   5.000000  12.000000
25%     1.000000   1.000000   8.250000  21.190000

### dictionary 값 불러오기

In [17]:
dict_df["continent"]['count']

63.0

### 특정 칼럼의 describe결과로 저장하기

In [25]:
dict_df_continent=df[['continent']].describe().to_dict()

In [33]:
dict_df_continent['continent']

{'continent': {'count': 63.0,
  'mean': 1.492063492063492,
  'std': 0.50395263067897,
  'min': 1.0,
  '25%': 1.0,
  '50%': 1.0,
  '75%': 2.0,
  'max': 2.0}}

In [35]:
type(dict_df_continent)

dict

In [36]:
df_dict=pd.DataFrame(dict_df_continent)

In [37]:
df_dict

       continent
25%     1.000000
50%     1.000000
75%     2.000000
count  63.000000
max     2.000000
mean    1.492063
min     1.000000
std     0.503953

### dictionary로 저장한 describe 결과를 data frame으로 다시 저장하기

#### 전체 요약결과를 Data Frame으로 저장하기

In [40]:
df_dict_all=pd.DataFrame(dict_df)
df_dict_all.head()

       continent      brand       size     period
count  63.000000  63.000000  63.000000  63.000000
mean    1.492063   1.888889  11.344444  35.035079
std     0.503953   0.785167   4.741334  18.874799
min     1.000000   1.000000   5.000000  12.000000
25%     1.000000   1.000000   8.250000  21.190000

#### DataFrame Transpose

In [43]:
df_dict_all=df_dict_all.transpose()

In [44]:
df_dict_all

           count       mean        std   min    25%   50%    75%     max
continent   63.0   1.492063   0.503953   1.0   1.00   1.0   2.00    2.00
brand       63.0   1.888889   0.785167   1.0   1.00   2.0   2.50    3.00
size        63.0  11.344444   4.741334   5.0   8.25  11.0  13.25   31.00
period      63.0  35.035079  18.874799  12.0  21.19  30.2  44.70  109.38

### 특정 칼럼만 변수 타입 변경하기

In [51]:
df_dict_all=df_dict_all.astype({"count":"int"})
df_dict_all.head()

           count  mean   std   min   25%   50%   75%    max
continent     63  1.49  0.50  1.00  1.00  1.00  2.00   2.00
brand         63  1.89  0.79  1.00  1.00  2.00  2.50   3.00
size          63 11.34  4.74  5.00  8.25 11.00 13.25  31.00
period        63 35.04 18.87 12.00 21.19 30.20 44.70 109.38

## 소수점 표시하기 옵션 변경

In [49]:
pd.options.display.float_format="{:.2f}".format #소수 둘째자리까지만 표현하기

In [50]:
df_dict_all.head()

           count  mean   std   min   25%   50%   75%    max
continent     63  1.49  0.50  1.00  1.00  1.00  2.00   2.00
brand         63  1.89  0.79  1.00  1.00  2.00  2.50   3.00
size          63 11.34  4.74  5.00  8.25 11.00 13.25  31.00
period        63 35.04 18.87 12.00 21.19 30.20 44.70 109.38

### 칼럼에서 유일한 값 찾기
- Dataframe의 각 칼럼은 Series로 구성
- Series 변수의 unique() 메소드 활용하기

In [61]:
df.head()

   continent  brand  size  period price
0          2      2 10.70   47.65   144
1          2      3 14.00   63.13   215
2          2      2  9.00   58.76   105
3          1      1  8.00   34.88    69
4          2      2 10.00   55.53   134

In [62]:
df["continent"].unique()

array([2, 1], dtype=int64)

In [63]:
df["brand"].unique()

array([2, 3, 1], dtype=int64)

In [68]:
df["brand"].value_counts() # 변수 Type Series

2    24
1    23
3    16
Name: brand, dtype: int64

### value_counts() 응용하기

#### Index 출력하기

In [79]:
df["brand"].value_counts().index

2

#### Value 출력하기

In [78]:
df["brand"].value_counts().values.tolist()

[24, 23, 16]

# 기타 주요 기능

## 사용자 정의 함수 도움말 추가
- """ 설명 입력 """
- 내부 변수인 __doc__로 확인 가능
- 혹은 Shift+tap으로 확인 가능