# pandas - numpy 상호 변환

In [1]:
import pandas as pd
df=pd.read_csv("EX_GrapeData.csv")
df.head()

   continent  brand  size  period price
0          2      2  10.7   47.65   144
1          2      3  14.0   63.13   215
2          2      2   9.0   58.76   105
3          1      1   8.0   34.88    69
4          2      2  10.0   55.53   134

## numpy로 변환 : 변수명 없어짐

In [5]:
df_numpy = df.to_numpy()
df_numpy[0:4].tolist()

[[2, 2, 10.7, 47.65, '144'],
 [2, 3, 14.0, 63.13, '215'],
 [2, 2, 9.0, 58.76, '105'],
 [1, 1, 8.0, 34.88, '69']]

## Data Frame Clip Board에 붙여넣기

In [6]:
df.to_clipboard()

## numpy 데이터를 pandas로 변환하기

### List형태로 변수명 입력

In [7]:
df_pd2= pd.DataFrame(data=df_numpy, columns= ["continent","brand","size","period","price"])
df_pd2.head()

  continent brand  size period price
0         2     2  10.7  47.65   144
1         2     3    14  63.13   215
2         2     2     9  58.76   105
3         1     1     8  34.88    69
4         2     2    10  55.53   134