# Machine Learning #4 : data set 분할

In [1]:
import warnings
warnings.filterwarnings('ignore')


## library /data import

In [2]:
import pandas as pd
data=pd.read_csv("Fvote.csv")
data.head(10)

,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,0,1,0,0,0,0,1,3,3,3,2,2,4.0,1,2
1,0,1,0,0,1,0,0,2,3,3,2,4,3.0,0,3
2,0,1,0,1,0,0,0,1,2,4,1,3,2.8,1,4
3,1,0,0,0,0,1,0,2,1,3,5,4,2.6,1,1
4,0,1,0,0,0,1,0,1,2,4,4,3,2.4,1,1
5,0,1,0,0,0,1,0,1,2,4,1,4,3.8,1,2
6,0,1,0,0,0,1,0,1,2,4,4,4,2.0,1,1
7,0,1,0,0,1,0,0,2,4,4,3,4,3.6,1,3
8,0,1,1,0,0,0,0,1,2,4,2,2,2.0,0,2
9,0,1,0,0,0,1,0,1,2,3,4,2,3.0,1,1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gender_female       211 non-null    int64
 1   gender_male         211 non-null    int64
 2   region_Chungcheung  211 non-null    int64
 3   region_Honam        211 non-null    int64
 4   region_Others       211 non-null    int64
 5   region_Sudo         211 non-null    int64
 6   region_Youngnam     211 non-null    int64
 7   edu                 211 non-null    int64
 8   income              211 non-null    int64
 9   age                 211 non-null    int64
 10  score_gov           211 non-null    int64
 11  score_progress      211 non-null    int64
 12  score_intention     211 non-null    float64
 13  vote                211 non-null    int64
 14  parties             211 non-null    int64
dtypes: float64(1), int64(14)
memory usage: 24.9 KB

## Data set 나누기

In [16]:
x=data[data.columns[0:13]]
x

,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention
0,0,1,0,0,0,0,1,3,3,3,2,2,4.0
1,0,1,0,0,1,0,0,2,3,3,2,4,3.0
2,0,1,0,1,0,0,0,1,2,4,1,3,2.8
3,1,0,0,0,0,1,0,2,1,3,5,4,2.6
4,0,1,0,0,0,1,0,1,2,4,4,3,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,0,1,0,0,0,0,1,1,4,4,3,3,1.8
207,0,1,0,0,0,1,0,2,1,2,3,4,2.6
208,0,1,1,0,0,0,0,2,1,2,3,3,2.6
209,0,1,0,0,0,1,0,2,3,4,3,2,4.0
210,1,0,0,0,0,1,0,2,2,2,3,3,3.8

In [17]:
y=data[['vote']]
y.head()

   vote
0     1
1     0
2     1
3     1
4     1

## train-test 데이터셋 나누기

### library import

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,stratify=y,random_state=42,test_size=0.25)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)
print(y_train.shape[0]/y_test.shape[0])

(158, 13)
(53, 13)
(158, 1)
(53, 1)
2.981132075471698

## model 적용하기

### Logistic regression 적용하기

In [19]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

## Cross validation

출처 : https://scikit-learn.org/stable/modules/cross_validation.html

<img src="https://scikit-learn.org/stable/_images/grid_search_cross_validation.png" width="80%">

In [22]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(model,x_train,y_train, cv=5) # 다섯개의 셋으로 나눔
print("5개 test 셋 정확도",scores)
print("정확도 평균",scores.mean())

5개 test 셋 정확도 [0.71875    0.6875     0.8125     0.58064516 0.80645161]
정확도 평균 0.7211693548387096

## random한 교차 검증 : K-fold

<img src="https://scikit-learn.org/stable/_images/sphx_glr_plot_cv_indices_006.png">

In [25]:
from sklearn.model_selection import KFold
kfold=KFold(n_splits=5,shuffle=True,random_state=42)
scores=cross_val_score(model,x_train,y_train, cv=kfold)
print("5개 fold 정확도",scores)
print("정확도 평균",scores.mean())

5개 fold 정확도 [0.71875    0.6875     0.625      0.70967742 0.77419355]
정확도 평균 0.7030241935483872

## 임의 분할 교차 검증

<img src="https://scikit-learn.org/stable/_images/sphx_glr_plot_cv_indices_008.png">

In [26]:
from sklearn.model_selection import ShuffleSplit
shuffle_split=ShuffleSplit(test_size=0.5,train_size=0.5,random_state=42)
scores=cross_val_score(model,x_train,y_train, cv=shuffle_split)
print("교차 검증  정확도",scores)
print("정확도 평균",scores.mean())

교차 검증  정확도 [0.73417722 0.69620253 0.70886076 0.73417722 0.65822785 0.67088608
 0.72151899 0.65822785 0.69620253 0.70886076]
정확도 평균 0.6987341772151898

## train-validity-test 분할

출처 : https://algotrading101.com/learn/train-test-split/

<img src="https://algotrading101.com/learn/wp-content/uploads/2020/06/training-validation-test-data-set-1024x552.png">

In [27]:
from sklearn.model_selection import train_test_split
# data 1차로 분할
x_train_val,x_test,y_train_val,y_test=train_test_split(x,y,random_state=1)
x_train,x_valid,y_train,y_valid=train_test_split(x_train_val,y_train_val,random_state=2)

In [28]:
print(x_train.shape)
print(x_valid.shape)
print(x_test.shape)

(118, 13)
(40, 13)
(53, 13)

In [31]:
model.fit(x_train,y_train)
scores=cross_val_score(model,x_train,y_train,cv=5) # numpy array
print("교차검증 정확도 : ",scores)
print("교차검증 정확도 평균 : ",scores.mean())

교차검증 정확도 :  [0.58333333 0.66666667 0.70833333 0.65217391 0.65217391]
교차검증 정확도 평균 :  0.652536231884058

In [32]:
print("검증 data 정확도 :", model.score(x_valid,y_valid))

검증 data 정확도 : 0.65

In [33]:
print("test data 정확도",model.score(x_test,y_test))

test data 정확도 0.6981132075471698