# ML 연습08- 다중분류 (Logistic)

In [1]:
import warnings
warnings.filterwarnings("ignore")

## data 불러오기

In [3]:
import pandas as pd
data=pd.read_csv("Fvote.csv")

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gender_female       211 non-null    int64
 1   gender_male         211 non-null    int64
 2   region_Chungcheung  211 non-null    int64
 3   region_Honam        211 non-null    int64
 4   region_Others       211 non-null    int64
 5   region_Sudo         211 non-null    int64
 6   region_Youngnam     211 non-null    int64
 7   edu                 211 non-null    int64
 8   income              211 non-null    int64
 9   age                 211 non-null    int64
 10  score_gov           211 non-null    int64
 11  score_progress      211 non-null    int64
 12  score_intention     211 non-null    float64
 13  vote                211 non-null    int64
 14  parties             211 non-null    int64
dtypes: float64(1), int64(14)
memory usage: 24.9 KB

In [7]:
data.head(10)

,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,0,1,0,0,0,0,1,3,3,3,2,2,4.0,1,2
1,0,1,0,0,1,0,0,2,3,3,2,4,3.0,0,3
2,0,1,0,1,0,0,0,1,2,4,1,3,2.8,1,4
3,1,0,0,0,0,1,0,2,1,3,5,4,2.6,1,1
4,0,1,0,0,0,1,0,1,2,4,4,3,2.4,1,1
5,0,1,0,0,0,1,0,1,2,4,1,4,3.8,1,2
6,0,1,0,0,0,1,0,1,2,4,4,4,2.0,1,1
7,0,1,0,0,1,0,0,2,4,4,3,4,3.6,1,3
8,0,1,1,0,0,0,0,1,2,4,2,2,2.0,0,2
9,0,1,0,0,0,1,0,1,2,3,4,2,3.0,1,1

In [4]:
x=data[data.columns[1:13]]
y=data[['parties']]

In [5]:
x

,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention
0,1,0,0,0,0,1,3,3,3,2,2,4.0
1,1,0,0,1,0,0,2,3,3,2,4,3.0
2,1,0,1,0,0,0,1,2,4,1,3,2.8
3,0,0,0,0,1,0,2,1,3,5,4,2.6
4,1,0,0,0,1,0,1,2,4,4,3,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...
206,1,0,0,0,0,1,1,4,4,3,3,1.8
207,1,0,0,0,1,0,2,1,2,3,4,2.6
208,1,1,0,0,0,0,2,1,2,3,3,2.6
209,1,0,0,0,1,0,2,3,4,3,2,4.0
210,0,0,0,0,1,0,2,2,2,3,3,3.8

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,stratify=y,random_state=42)
print(y_train.mean(),y_test.mean(),y_train.std(),y_test.std())

parties    2.670886
dtype: float64 parties    2.660377
dtype: float64 parties    1.217929
dtype: float64 parties    1.239469
dtype: float64

## 다항 분류 로지스틱 회귀

In [12]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [13]:
pred_train=model.predict(x_train)
model.score(x_train,y_train)

0.6139240506329114

In [14]:
pred_test=model.predict(x_test)
model.score(x_test,y_test)

0.5283018867924528

## 혼동행렬

In [15]:
from sklearn.metrics import confusion_matrix
confusion_train=confusion_matrix(y_train,pred_train)
print(confusion_train)

[[21  2  3 11]
 [ 1 25  2 12]
 [ 6  2  5  6]
 [ 7  8  1 46]]

## 분류 결과 확인

In [16]:
from sklearn.metrics import classification_report
cfreport_train=classification_report(y_train,pred_train)
print(cfreport_train)

              precision    recall  f1-score   support

           1       0.60      0.57      0.58        37
           2       0.68      0.62      0.65        40
           3       0.45      0.26      0.33        19
           4       0.61      0.74      0.67        62

    accuracy                           0.61       158
   macro avg       0.59      0.55      0.56       158
weighted avg       0.61      0.61      0.60       158

## 파라미터 튜닝

### Grid Search

In [17]:
from sklearn.model_selection import GridSearchCV

In [18]:
param_grid={"C":[0.001,0.01,0.1,1,10,100]}

In [19]:
grid_search=GridSearchCV(LogisticRegression(),param_grid,cv=5,return_train_score=True)

In [20]:
grid_search.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=LogisticRegression(),
             param_grid={'C': [0.001, 0.01, 0.1, 1, 10, 100]},
             return_train_score=True)

#### 최적의 C값 확인

In [21]:
print("Best Parameter : {}".format(grid_search.best_params_))
print("Best Cross-validity Score : {:.3f}".format(grid_search.best_score_))

Best Parameter : {'C': 0.1}
Best Cross-validity Score : 0.544

#### C=0.1 적용

In [22]:
print('Test set Score : {:.3f}'.format(grid_search.score(x_test,y_test)))

Test set Score : 0.585

### Random Search

In [24]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint
param_distribs={"C":randint(low=0.001,high=100)}

In [25]:
random_search=RandomizedSearchCV(LogisticRegression(),param_distributions=param_distribs,cv=5,n_iter=10,return_train_score=True)
random_search.fit(x_train,y_train)

RandomizedSearchCV(cv=5, estimator=LogisticRegression(),
                   param_distributions={'C': <scipy.stats._distn_infrastructure.rv_frozen object at 0x0000024718B82A60>},
                   return_train_score=True)

In [26]:
print("Best Parameter : {}".format(random_search.best_params_))
print("Best Cross-validity Score : {:.3f}".format(random_search.best_score_))

Best Parameter : {'C': 71}
Best Cross-validity Score : 0.525

In [27]:
print("Test set Score : {:.3f}".format(random_search.score(x_test,y_test)))

Test set Score : 0.509