
# 작업형 1유형 연습하기

In [23]:
%config Completer.use_jedi = False
import warnings
warnings.filterwarnings("ignore")

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("mtcars.csv")

In [3]:
df.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
data=df.copy()

# pandas 기능만 이용하기

## qsec만 분리

In [8]:
data_qsec=data[['qsec']]

In [9]:
data_qsec.head()

    qsec
0  16.46
1  17.02
2  18.61
3  19.44
4  17.02

### 최대/최소값 찾기

In [10]:
qsec_max=data_qsec.max()
qsec_max

qsec    22.9
dtype: float64

In [11]:
qsec_min=data_qsec.min()
qsec_min

qsec    14.5
dtype: float64

### Min-Max 변환할 함수 만들기

In [16]:
def minmax(x):
    return (x-qsec_min)/(qsec_max-qsec_min)

In [17]:
minmax(15)

qsec    0.059524
dtype: float64

In [ ]:
### scaling

In [24]:
data_qsec['scaled']= data_qsec['qsec'].apply(minmax)
data_qsec.head()

    qsec    scaled
0  16.46  0.233333
1  17.02  0.300000
2  18.61  0.489286
3  19.44  0.588095
4  17.02  0.300000

In [30]:
qsec_over_counts=len(data_qsec[data_qsec['scaled']>0.5])

## qsec 갯수 확인하기

In [31]:
print("Record 수량 : ",qsec_over_counts)

Record 수량 :  9

# sklean minmax scaler이용

In [33]:
from sklearn.preprocessing import MinMaxScaler

In [36]:
scaler=MinMaxScaler()
scaler.fit(df[['qsec']])

MinMaxScaler()

In [39]:
scaled_qsec=scaler.transform(df[['qsec']])

In [45]:
counts=scaled_qsec[scaled_qsec>0.5].shape[0]

In [46]:
print("Record 수량 : ",counts)

Record 수량 :  9

# 기타 연습

In [47]:
df=pd.read_csv("mtcars.csv")

In [51]:
x=df[['qsec']]

In [61]:
min=x.min()
max=x.max()
x['scaled']=(x[['qsec']]-min)/(max-min)

In [65]:
counts=sum(x['scaled']>0.5)

In [66]:
print("Record 수량 : ",counts)

Record 수량 :  9