# 작업형 2번 연습

In [333]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [334]:
df=pd.read_csv('Train.csv')
df['new']=df[["Product_importance","Warehouse_block","Mode_of_Shipment"]].apply(lambda x: "-".join(x),axis=1)

## LabelEncoder

In [335]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['new']=le.fit_transform(df['new'])

In [336]:
df.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N,new
0,1,D,Flight,4,2,177,3,low,F,44,1233,1,24
1,2,F,Flight,4,5,216,2,low,M,59,3088,1,27
2,3,A,Flight,2,2,183,4,low,M,48,3374,1,15
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1,33
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1,36

In [337]:
def exam_data_load(df, target, id_name="", null_name=""):
    if id_name == "":
        df = df.reset_index().rename(columns={"index": "id"})
        id_name = 'id'
    else:
        id_name = id_name
    
    if null_name != "":
        df[df == null_name] = np.nan
    
    X_train, X_test = train_test_split(df, test_size=0.2, random_state=2021)
    
    y_train = X_train[[id_name, target]]
    X_train = X_train.drop(columns=[target])

    
    y_test = X_test[[id_name, target]]
    X_test = X_test.drop(columns=[target])
    return X_train, X_test, y_train, y_test

## train/test set 분할

In [338]:
X_train, X_test, y_train, y_test = exam_data_load(df, target='Reached.on.Time_Y.N', id_name='ID')

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8799, 12), (2200, 12), (8799, 2), (2200, 2))

In [339]:
X_train.shape, X_test.shape, y_train.shape

((8799, 12), (2200, 12), (8799, 2))

In [340]:
X_train.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,new
3999,4000,B,Ship,3,4,134,3,high,F,6,5680,5
9559,9560,F,Ship,4,3,173,3,medium,M,5,5331,44
2649,2650,B,Ship,2,1,192,3,high,M,46,3206,5
4843,4844,F,Ship,6,5,284,4,medium,M,8,5346,44
9601,9602,F,Flight,3,1,246,3,low,F,10,4707,27

In [341]:
y_train.head()

        ID  Reached.on.Time_Y.N
3999  4000                    0
9559  9560                    1
2649  2650                    1
4843  4844                    1
9601  9602                    1

In [342]:
# "Reached.on.Time_Y.N"
target="Reached.on.Time_Y.N"
y_train[target].value_counts()/len(y_train[target])

1    0.596772
0    0.403228
Name: Reached.on.Time_Y.N, dtype: float64

In [343]:
print(X_train.info())
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8799 entries, 3999 to 9332
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   8799 non-null   int64
 1   Warehouse_block      8799 non-null   object
 2   Mode_of_Shipment     8799 non-null   object
 3   Customer_care_calls  8799 non-null   int64
 4   Customer_rating      8799 non-null   int64
 5   Cost_of_the_Product  8799 non-null   int64
 6   Prior_purchases      8799 non-null   int64
 7   Product_importance   8799 non-null   object
 8   Gender               8799 non-null   object
 9   Discount_offered     8799 non-null   int64
 10  Weight_in_gms        8799 non-null   int64
 11  new                  8799 non-null   int32
dtypes: int32(1), int64(7), object(4)
memory usage: 859.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2200 entries, 4732 to 4413
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2200 non-null   int64
 1   Warehouse_block      2200 non-null   object
 2   Mode_of_Shipment     2200 non-null   object
 3   Customer_care_calls  2200 non-null   int64
 4   Customer_rating      2200 non-null   int64
 5   Cost_of_the_Product  2200 non-null   int64
 6   Prior_purchases      2200 non-null   int64
 7   Product_importance   2200 non-null   object
 8   Gender               2200 non-null   object
 9   Discount_offered     2200 non-null   int64
 10  Weight_in_gms        2200 non-null   int64
 11  new                  2200 non-null   int32
dtypes: int32(1), int64(7), object(4)
memory usage: 214.8+ KB
None

In [344]:
# X_train.isnull().sum()

In [345]:
# X_test.isnull().sum()

In [346]:
# X_train[['Warehouse_block']].value_counts()

In [347]:
# X_train[['Mode_of_Shipment']].value_counts()

In [348]:
# X_train[['Product_importance']].value_counts()

In [349]:
# X_train[['Gender']].value_counts()

## 범주형 변수 확인

In [350]:
# df=pd.merge(left=X_train,right=y_train,how="left",on="ID")

In [351]:
# df.head()

In [352]:
# df_yes=df[df['Reached.on.Time_Y.N']==True]

In [353]:
# df.groupby(["Product_importance"])["Reached.on.Time_Y.N"].count()

In [354]:
# df_yes.groupby(["Product_importance"])["Reached.on.Time_Y.N"].count()

In [355]:
# df_yes.groupby(["Product_importance"])["Reached.on.Time_Y.N"].count()

In [356]:
# val2=df_yes.groupby(["Product_importance"])["Reached.on.Time_Y.N"].count()/df.groupby(["Product_importance"])["Reached.on.Time_Y.N"].count()
# print(pd.DataFrame(val))
# print(pd.DataFrame(val).std())
# print(pd.DataFrame(val).mean())

In [357]:
# df_yes.groupby(["Warehouse_block"])["Reached.on.Time_Y.N"].count()/df.groupby(["Warehouse_block"])["Reached.on.Time_Y.N"].count().values

In [358]:
# val=list(df_yes.groupby(["Warehouse_block"])["Reached.on.Time_Y.N"].count()/df.groupby(["Warehouse_block"])["Reached.on.Time_Y.N"].count().values)
# pd.DataFrame(val).std()

In [359]:
# pd.DataFrame(val).mean()

In [360]:
# df.groupby(["Warehouse_block","Mode_of_Shipment"])["Reached.on.Time_Y.N"].count()

In [361]:
# df_yes.groupby(["Warehouse_block","Mode_of_Shipment"])["Reached.on.Time_Y.N"].count()

In [362]:
# df_yes.groupby(["Warehouse_block","Mode_of_Shipment"])["Reached.on.Time_Y.N"].count()/df.groupby(["Warehouse_block","Mode_of_Shipment"])["Reached.on.Time_Y.N"].count()

In [363]:
# df_yes.groupby(["Product_importance","Warehouse_block","Mode_of_Shipment"])["Reached.on.Time_Y.N"].count()/df.groupby(["Product_importance","Warehouse_block","Mode_of_Shipment"])["Reached.on.Time_Y.N"].count()

In [364]:
# x=list(df_yes.groupby(["Product_importance","Warehouse_block","Mode_of_Shipment"])["Reached.on.Time_Y.N"].count()/df.groupby(["Product_importance","Warehouse_block","Mode_of_Shipment"])["Reached.on.Time_Y.N"].count())
# df_x=pd.DataFrame(x)
# # print(df_x)
# print(df_x.mean())
# print(df_x.std())

In [365]:
# X_train.head()

# data 전처리 (범주형 변수 삭제)

In [366]:
X_train = X_train.drop(['Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender'], axis=1)
X_test = X_test.drop(['Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender'], axis=1)
X_train

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,new
3999,4000,3,4,134,3,6,5680,5
9559,9560,4,3,173,3,5,5331,44
2649,2650,2,1,192,3,46,3206,5
4843,4844,6,5,284,4,8,5346,44
9601,9602,3,1,246,3,10,4707,27
...,...,...,...,...,...,...,...,...
3934,3935,6,5,178,3,5,4096,23
2669,2670,3,1,206,2,56,2069,44
1152,1153,4,1,135,10,35,1989,41
6201,6202,4,4,251,2,6,4376,35
9332,9333,6,4,144,4,5,4631,15

In [367]:
# from sklearn.preprocessing import LabelEncoder

# library import

In [370]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

In [371]:
X_train_id = X_train.pop('ID')
X_test_id = X_test.pop('ID')

KeyError: 'ID'

In [372]:
from sklearn.model_selection import train_test_split
X_tr,X_val,y_tr,y_val = train_test_split(X_train,y_train['Reached.on.Time_Y.N'],test_size=0.2,random_state=2021)
model = LogisticRegression()
model.fit(X_tr, y_tr)
round(model.score(X_val, y_val) * 100, 2)

63.92

In [411]:
# model = KNeighborsClassifier()
# model.fit(X_tr, y_tr)
# round(model.score(X_val, y_val) * 100, 2)

In [410]:
# model = SVC()
# model.fit(X_tr, y_tr)
# round(model.score(X_val, y_val) * 100, 2)

In [409]:
# model = DecisionTreeClassifier()
# model.fit(X_tr, y_tr)
# round(model.score(X_val, y_val) * 100, 2)

In [427]:
model = RandomForestClassifier(n_estimators=100,max_features="log2")
model.fit(X_tr, y_tr)
pred = model.predict(X_test)
pred_proba=model.predict_proba(X_test)
pred
round(model.score(X_val, y_val) * 100, 2)

64.43

In [428]:
# dir(model)
pred_proba[:,-1]

array([0.39, 0.99, 0.47, ..., 0.41, 0.62, 0.52])

In [429]:
# model = XGBClassifier(eval_metric='mlogloss', use_label_encoder=False)
# model.fit(X_tr, y_tr)
# round(model.score(X_val, y_val) * 100, 2)

In [430]:
# model = KNeighborsClassifier()
# model.fit(X_train, y_train['Reached.on.Time_Y.N'])
# pred = model.predict(X_test)
# pred

In [431]:
submission = pd.DataFrame({
        "ID": X_test_id,
        "Reached.on.Time_Y.N": pred
    })

In [432]:
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score, roc_curve, auc, confusion_matrix, classification_report

In [433]:
roc_auc_score(y_test.iloc[:,1],pred_proba[:,-1])

0.7225738505273567